
.searchSelect {
  border-radius: 5px;
  height: 25px;
  border: none;
  width: 90%;
}

.searchForm {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.searchInput {
  border-radius: 5px;
  height: 25px;
  border: none;
  padding: 0px 10px;
  width: 80%;
  box-sizing: border-box;
}

.searchButton {
  border-radius: 5px;
  height: 25px;
  border: none;
  width: 15%;
  box-sizing: border-box;
  background-color: red;

}
